ul#menu-main-header{
  margin: 0px;
  li {
    list-style: none;
    display: inline;
    padding: 0px 4px;
    font-size: 20px;
  }
}

@media(max-width:991px){
  ul#menu-main-header{
    li {
      display: block;
    }
  }
}
